 <!DOCTYPE html>
<html>
    <head>
        <title>Novo Cadastro</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat">
        <style>
            body{
                width: 100vw;
                height: 100vh;
                background-color: #39393A;
                color: white;
                font-family: 'Montserrat';
                text-align: center;
                margin: 0;
                display: flex;
                justify-content: center;
                align-content: center;
            }
            .container{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-content: center;
                text-align: center;
                align-items: center;
            }
            .content{
                background-color: #FFBD00;
                color: black;
                width: 50%;
                height: 100px;
                align-items: center;
                border-radius: 13px;
                padding: 10px;
                display: flex;
                align-content: center;
                justify-content: center;
            }
            p{
                font-size: 22px;
            }
        </style>
    </head>

    <body>
        
        <div class="container">
            <div class="content"><h1>Bem-vindo ao EJCMusic!</h1></div>
            <p>{{ name }}, sua conta foi criada com sucesso.</p>
            <p>Agora você participa do maior marketplace de artigos de música do Brasil.</p>
        </div>
    </body>
</html>